/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.jfx-button{
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
}


.jfx-button:hover{
    -fx-background-color: #689F38;
}


.text-white{
    -fx-text-fill: white;
    
}


